* {
  box-sizing: border-box;
}

.Page-header {
  height: 40px;
  width: max;
  color: #1d1d1d;
  display: flex;
  align-items: center;
}

.Header-image {
  height: 14.55px;
  width: 14.55px;
  margin-top: 12.28px;
  margin-left: 10.67px;
}

.Page-heading1 {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
  color: #999999;
}

.Page-heading2 {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
  color: #999999;
}
